{% extends 'base.html' %}
{% block title %} Messages {% endblock %}
{% block content %}
{% if form %}
    <div>
    <form action="" method="POST">
    {{ form.as_p }}
    {%  csrf_token %}
    <button type="submit">Send</button>
    </form>
    </div>
    <hr>
{% endif %}

{% if object %}
Content: {{ object.content }}<br>
From: {{ object.from_user }}<br>
Sent: {{ object.sent_date }}<br>
{% endif %}

{% if messages_to %}
Received:
<hr>
{% for msg in messages_to %}
    <div>
    {% if msg.already_read %}
    <a href="{% url 'user_message_detail' msg.pk %}">Message</a> from {{ msg.from_user }} to {{ msg.to_user }} on {{ msg.sent_date }}
    {% else %}
    <strong><a href="{% url 'user_message_detail' msg.pk %}">Message</a> from {{ msg.from_user }} to {{ msg.to_user }} on {{ msg.sent_date }}</strong>
    {% endif %}
    </div>
    <br>
{% endfor %}
{% endif %}
{% if messages_to %}
<br>
Sent:
<hr>
{% for msg in messages_from %}
    <div>
    from {{ msg.from_user }} to {{ msg.to_user }} on {{ msg.sent_date }}:
    <br>{{ msg.content }}
    </div>
    <br>
{% endfor %}
{% endif %}

{% endblock %}